<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card-deck">
        <% @vinyls.each_slice(3) do |vinyls_row| %>
          <div class="row">
            <% vinyls_row.each do |vinyl| %>
              <div class="col-md-4">
                <div class="card">
                  <%= link_to vinyl_path(vinyl), data: { turbo: "false", "turbo-visit-control": "reload" } do %>
                    <%= cl_image_tag vinyl.photo.key, height: 300, width: 300, crop: :fill %>
                    <div class="card-body">
                      <h5 class="card-title"><%= vinyl.name %></h5>
                      <p class="card-text"><%= truncate(vinyl.description, length: 30) %></p>
                    </div>
                     <%# <div class="play-button"> %>
                        <%# This is where the button is supposed to be  %>
                      <%# </div> %>
                    <% end %>
                  <% if vinyl.user_id == current_user.id %>
                    <div class="card-footer">
                      <%= button_to "Delete Vinyl", vinyl_path(vinyl), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", onclick: "return confirm('Are you sure?')" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
