<div data-controller="modal">
  <!-- Button to trigger modal -->
  <button data-modal-target="btn" class="open-modal">List Vinyl</button>

  <!-- Modal -->
  <div data-modal-target="modal" class="modal">
    <div class="modal-content">
    <%= form_with(model: @vinyl, url: vinyls_path, method: :post) do |form| %>
        <%= form.label :song_name %>
        <%= form.text_field :song_name %>
        <%= form.label :artist %>
        <%= form.text_field :artist %>
        <%= form.submit "Add Song", :class => 'submit-btn'%>
      <% end %>
    <button data-modal-target="closeBtn" class="closebtn">Close</button>
    </div>
  </div>
</div>
