<div data-controller="modal">
  <!-- Button to trigger modal -->
  <button data-modal-target="btn" class="open-modal">List Vinyl</button>

  <!-- Modal -->
  <div data-modal-target="modal" class="modal">
    <div class="modal-content">
      <%= simple_form_for Vinyl.new do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <%= f.label :genre %>
        <%= f.text_field :genre, class: "form-control" %>
        <%= f.label :artist %>
        <%= f.text_field :artist, class: "form-control" %>
        <div class="form-group">
          <%= label_tag :track_name, "Track Name" %>
          <%= text_field_tag :track_name, nil, class: "form-control" %>
        </div>
        <div id="track-results"></div>
        <%= f.input :photo, label: "Enter image URL", placeholder: "Google-image-url", class: "form-control" %>
        <%= f.submit "Add Vinyl", class: "btn btn-primary" %>
    <% end %>
    <button data-modal-target="closeBtn" class="closebtn">Close</button>
    </div>
  </div>
</div>
