<!--
<% track = RSpotify::Track.search('currents').first %>
<%= track.name %>
<%= track.artists.first.name %>
<br>
<% album = RSpotify::Album.search('Forest Hills drive').first %>
<%= album.name %>
<%= album.artists.first.name %>
<%= album.release_date %>
-->



<%= render "vinyls", vinyls: @vinyls %>

<h1><%= @vinyl.name %></h1>
<p>Artist: <%= @vinyl.artist %></p>

<img src="<%= @vinyl.photo %>">

<iframe src="<%= @vinyl.music_url %>"></iframe>
